<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alexander_topilskii.full_test"
    android:installLocation="auto">

    <uses-permission android:name="ACTION_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".lifecycle.MyActivity1" />
        <activity android:name=".lifecycle.MyActivity2" />
        <activity android:name=".lifecycle.MyFragmentActivity" />
        <activity android:name=".logging.LogShower" />
        <activity android:name=".fragments.MainFragmentsActivity" />
        <activity android:name=".recycleCardView.CardViewMain" />
        <activity android:name=".lifecycle.LifeCycleMainActivity" />
        <activity android:name=".WorkWithFiles" />
        <activity android:name=".services.ServicesMain" />

        <service android:name=".lifecycle.MyService" />
        <service android:name=".lifecycle.MyBroadcastService" />

        <receiver
            android:name=".lifecycle.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="TOPILSKII_INTENT" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>